/* ######### Header ######### */
header{
    border: 2px solid brown;
    border-radius: 15px;
    height: 45px;
    background-color: aqua;
}
.right{
    float: right;
    margin-top: 10px;
    padding-left: 55px;
    padding-right: 100px;
}
.left{
    float: left;
    margin-top: 10px;
    padding-right: 55px;
    padding-left: 100px;
}
img{
    mix-blend-mode: multiply;
}

/* ########## Nav ########## */
nav{
    border: 2px solid brown;
    border-radius: 15px;
    height: 55px;
    background-color: aqua;
    text-decoration: none;
}
#tap{
    margin-top: 10px;
    margin-left: 15px;
    padding-right: 40px;
    float: left;
}
.navi{
    text-decoration: none;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 25px;
    vertical-align: middle;
    float: left;
    color: green;
}
#button{
    border: 2px solid brown;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    float:right;
    margin: 20px 30px;
    color: green;
}
#button:hover{
    background-color:rgb(255, 0, 111);
}

/* ######### section ########## */
section{
    border: 2px solid brown;
    border-radius: 15px;
    background-color: aqua;
}
.heading{
    text-align: center;
    color: rgb(165, 42, 77);
}

/* ########### Div ############ */
#html{
    border: 2px solid brown;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    padding: 10px;
}
.ht{
    color: green;
}

/* ########## Footer ########## */
footer{
    border: 2px solid brown;
    border-radius: 15px;
    background-color: aqua;
    text-align: center;
}
#map{
    margin-top: 10px;
    mix-blend-mode: multiply;
}
