/* ######### Header ######### */
header{
    border: 2px solid brown;
    border-radius: 15px;
    height: 45px;
    background-color: aqua;
}
.right{
    float: right;
    margin-top: 10px;
    padding-left: 55px;
    padding-right: 100px;
}
.left{
    float: left;
    margin-top: 10px;
    padding-right: 55px;
    padding-left: 100px;
}
img{
    mix-blend-mode: multiply;
}

/* ########## Nav ########## */
nav{
    border: 2px solid brown;
    border-radius: 15px;
    height: 55px;
    background-color: aqua;
    text-decoration: none;
}
#tap{
    margin-top: 10px;
    margin-left: 15px;
    padding-right: 40px;
    float: left;
}
.navi{
    text-decoration: none;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 25px;
    vertical-align: middle;
    float: left;
    color: green;
}
#button{
    border: 2px solid brown;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    float:right;
    margin: 20px 30px;
    color: green;
}
#button:hover{
    background-color: rgb(255, 0, 111);
}

/* ############ Div ########### */
div{
    border: 2px solid brown;
    border-radius: 15px;
    background-color: aqua;
    text-align: center;
}
#student1{
    background-color: white;
    border: 1px solid burlywood;
    width: 330px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 15px;
    color: rgb(250, 114, 191);
}
#student2{
    background-color: white;
    border: 1px solid burlywood;
    width: 330px;
    margin-left: 420px;
    margin-top: -380px;
    margin-bottom: 30px;
    padding: 15px;
    color: rgb(250, 207, 114);
}
#student3{
    background-color: white;
    border: 1px solid burlywood;
    float: right;
    margin-top: -510px;
    margin-right: 15px;
    width: 330px;
    margin-left: 7px;
    margin-bottom: 7px;
    padding: 15px;
    color: green;
}
.student_img{
    height: 100px;
    width: 100px;
    margin-top: 5px;
}

/* ########## Footer ########## */
footer{
    border: 2px solid brown;
    border-radius: 15px;
    background-color: aqua;
    text-align: center;
}
#map{
    margin-top: 10px;
    mix-blend-mode: multiply;
}
